<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styke.css">
</head>
<body>
    <div class="container">
        <div class="top-part">
            <img src="/views/loading/images/logo.png" alt="" class="small-logo">
            <p class="logo-text">Elixir<span class="version">v1.0.0</span></p>
            <span class="minimize"></span>
            <span class="close"></span>
        </div>
        <div class="left-col">
            <a id="btn-1" href="#" class="button"><img src="/views/loading/images/icons/home.png" alt="icono" class="o-ico"><span class="button-text">Home</span></a>
            <a id="btn-2" href="#" class="button active"><img src="/views/loading/images/icons/status.png" alt="icono" class="o-ico"><span class="button-text">Status</span></a>
            <a id="btn-3" href="#" class="button"><img src="/views/loading/images/icons/paper.png" alt="icono" class="o-ico"><span class="button-text">Changelog</span></a>
            <a id="btn-4" href="#" class="button"><img src="/views/loading/images/icons/settings.png" alt="icono" class="o-ico"><span class="button-text">Settings</span></a>
            <a id="btn-5" href="#" class="button"><img src="/views/loading/images/icons/support.png" alt="icono" class="o-ico"><span class="button-text">Support</span></a>
            <a id="btn-6" href="#" class="button"><img src="/views/loading/images/icons/money.png" alt="icono" class="o-ico"><span class="button-text">Free Menus</span></a>
        </div>
        <div class="right-col">
            <iframe src="./sections/home/home.html" frameborder="0"></iframe>
        </div>
    </div>
</body>
</html>